<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="../css/sobre.css">
</head>

<body>

    <nav>
        <h1>Aqui vem o menu</h1>
    </nav>

    <div>
        <h2>Sobre o Curso</h2>
        <div>
            <fieldset>
                <legend>Resumo</legend>
                <p> Lorem ipsum augue luctus vitae sollicitudin amet purus donec urna, fringilla eros urna
                    hendrerit felis vivamus ornare fringilla scelerisque, dolor purus tristique amet
                    venenatis habitant libero blandit. vehicula sociosqu est faucibus quisque felis cubilia
                    tellus taciti aenean pretium suscipit molestie ipsum lacus erat, leo porta cursus ante
                    justo porta himenaeos diam placerat commodo nam ultricies iaculis. etiam erat netus
                    consectetur donec ut dictumst scelerisque eros, euismod semper augue ultricies felis
                    placerat integer non scelerisque, habitasse eleifend duis imperdiet nam tempus aenean.
                    odio rutrum himenaeos nam varius cubilia lectus, a suscipit ut hac elit vestibulum neque,
                    nibh rutrum mauris elementum rhoncus. </p>
            </fieldset>

            <fieldset>
                <legend>Coordenação</legend>
                <p>
                    Lorem ipsum neque etiam, aliquam purus integer class, egestas sem.
                </p>
            </fieldset>

            <fieldset>
                <legend>Matriz Curricular</legend>

                <table class="tabela">
                    <tr>
                        <td>Lorem ipsum. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                        <td>Vivamus eu. </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

</body>

</html>