<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Turmas</title>
    <link rel="stylesheet" href="../css/turmas.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="index.html"> <img src="../img/logo1.png" alt="logo" width="140px"/> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="#docentes">Docentes</a></li>
                    <li><a href="#eventos">Eventos</a></li>
                    <li><a href="#atletica">Atlética</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>


    <section class="corpo">
        <h2 class="titulo">Turmas</h2>
        <div class="cc" class="cc1">
            <h3>CC1</h3>
            <div class="cc-div">
                <p id="lait">Ano de inicio/ Término: <b>2014/2017 </b></p>
                
                <p id="la">Apelido: CC1 </p>
            </div>
            <button id="b1" target="if">Periodo Atual</button>
            
        </div>

        <div class="cc">
            <h3>CC2</h3>
            <div class="cc-div">
                <label class="l1">Ano de inicio/ Término: 2015/2018 </label>

                <label>Apelido: CC2 </label>


            </div>
            <button>Periodo Atual</button>

        </div>

        <div class="cc">
            <h3>CC3</h3>
            <div class="cc-div">
                <label>Ano de inicio/ Término: 2016/2019 </label>

                <label>Apelido: CC3 </label>
            </div>
            <button>Periodo Atual</button>

        </div>

        <div class="cc">
            <h3>CC4</h3>
            <div class="cc-div">
                <label>Ano de inicio/ Término: 2017/2020</label>

                <label>Apelido: CC4</label>
            </div>
            <button>Periodo Atual</button>

        </div>

        <div class="cc">
            <h3>CC5</h3>
            <div class="cc-div">
                <label>Ano de inicio/Término: 2018/2021</label>

                <label>Apelido: CC5</label>
            </div>
            <button>Periodo Atual</button>

        </div>

        <div class="cc">
            <h3>CC6</h3>
            <div class="cc-div">
                <label>Ano de inicio/ Término: 2019/2022</label>

                <label>Apelido: CC6</label>
            </div>
            <button>Periodo Atual</button>

        </div>

        <div class="cc">
            <h3>CC7</h3>
            <div class="cc-div">
                <label>Ano de inicio/Término: 2020/2023</label>

                <label>Apelido: CC7</label>
            </div>
            <button>Periodo Atual</button>

        </div>
    </section>
    <div class="footer-turmas">
        <h3>Todos os direitos reservados &copy; iCode</h3>
        <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a></p>
    </div>
</body>

</html>